@charset "UTF-8";
/* CSS Document */

body{

    margin: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.header{

    background-color: #354248;
    width: 100%;
    height: 60px;

    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.header>label{

    margin: 20px;
}

#nombreJuego{

    flex-grow: 1;
}

#sesion{

    margin: 10px;
    display: none;
}

#bienvenido{

    background-color: #e0e0e0;
    width: 100%;
    height: 200px;

    color: #354248;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: 10px;
}

#bienvenido>label{

    font-size: 50px;
    margin: 40px;

    flex-grow: 1;
}

#bienvenido>img{

    height: 260px;
    margin: 20px;
}

#login{

    background-color: #354248;
    width: 50%;
    height: 300px;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: left;   

    justify-content: space-between;
    
    padding: 40px;
    margin: 20px;

    border-radius: 10px;
}

#login>input{

    width: 100%;
    height: 30px;
    border-radius: 5px;

    padding: 5px;
}

#crearPartida{

    display: none;

    background-color: #7a7d7e;
    border-color: #636566;
    width: 40%;
    height: 80px;

    display: flex;
    flex-direction: column;
    align-items: left; 

    justify-content: space-between;
    
    padding: 30px;
    margin: 20px;

    border-radius: 10px;
}

#crearPartida>div{

    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: left; 

}

#crearPartida>div>input{

    width: 100%;
    height: 30px;
    border-radius: 5px;

    padding: 5px;
}

#unirsePartida{

    display: none;

    background-color: #7a7d7e;
    border-color: #636566;
    width: 40%;
    height: 80px;

    display: flex;
    flex-direction: column;
    align-items: left; 

    justify-content: space-between;
    
    padding: 30px;
    margin: 20px;

    border-radius: 10px;
}

#unirsePartida>div{

    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: left; 

}

#unirsePartida>div>input{

    width: 100%;
    height: 30px;
    border-radius: 5px;

    padding: 5px;
}

nav {
     
    overflow:hidden;
    padding:10px;
    width:100%;
	display: none;
}

nav ul{
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;	
	display: none;
}

nav ul li{
    
    float:left;
    margin-right:25px;
	margin-left:15px;
    text-align:center;
	color:clear-blue;    
	display: none;
	
}

nav ul li:hover{
    
    font-weight: bold;	
	
}

.seleccionada {
	
	font-weight: bold;
		
}

.menu {
	
	width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
	border-bottom: 2px solid black;		
	display: none;
	
}


.boton{

    background-color:#0b59e1;
    color: white;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-color: #0b59e1;
    border-radius: 5px;

    height: 45px;

    cursor: pointer;

}

.boton:hover{

    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-color: white;
}

.boton:active {

    transform: translateY(2px);
}

.boton2{

    background-color:#354248;
    color: #7a7d7e;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-color: #7a7d7e;
    border-radius: 5px;

    height: 45px;

    cursor: pointer;

}

.boton2:hover{

    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-color: white;
}

.boton2:active {

    transform: translateY(2px);
}

.fuenteGrande{

    font-size: 30px;
}

.fuenteMedia{

    font-size: 20px;
}

.fuentePequeña {

    font-size: 15px;
}