@charset "UTF-8";
/* CSS Document */

.header{

    background-color: #354248;
    height: 50px;
    align-items: center;

    color: white;
}

#bienvenido{

    background-color: #e0e0e0;
    color: #354248;
    height: 200px;

    border-radius: 10px;
}

#bienvenido>div>div>img{

    height: 200px;

}

#login{

    background-color: #354248;
    height: 300px;

    color: white;

    border-radius: 10px;
}



#crearPartida{

    background-color: #f6f7f9;
    height: 120px;
    border-radius: 10px;
}

#unirsePartida{

    background-color: #f6f7f9;
    height: 120px;
    border-radius: 10px;

    justify-content: space-between;

}

/*

#menu{

    width: 100%;
    align-items: center;
}

#menu>ul{

    list-style: none;
    margin: 0px 10px 0px 10px;
    padding: 0px;	
}

#menu>ul>li{
    
    float: left;
    text-align: center;
    padding: 10px;
}

#menu>ul>li:hover{
    
    cursor: pointer;	
}

#menu>ul>li:active{


}

.seleccionada {
    
    font-weight: bold;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px 1px 0px 1px;
    border-color: #5e5d5d;

}

.menu {
	
	width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
	border-bottom: 2px solid black;		
	display: none;
	
}


*/