@charset "UTF-8";
/* CSS Document */

.header{

    background-color: #354248;

    color: white;
}

#bienvenido{

    background-color: #e0e0e0;
    color: #354248;
    height: 200px;

    border-radius: 10px;
}

.cartaSelecionada {

    box-shadow: 10px 10px 10px rgb(17, 180, 66);
    transform: translateY(-5px);

}

#bienvenido>div>div>img{

    height: 200px;

}

#login{

    background-color: #354248;

    color: white;
}