<!doctype html>
<link rel="StyleSheet" href="css/Practica1css.css" type="text/css"> 
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Bienvenido - FaceBluff</title>
</head>

<body>

<div class="pag">

	<div class="cabeceraBox anchoTotal">
	
		<div class="logoBox">
			
			<img class="logoImg" src="/img/Logo.png"/>
			
		</div>
		
		<div class="linksBox anchoTotal">
	
			<div class="linksMenu">
			
				<a href="Index.html" class="menu">
					<p class="fuentePropia negrita fuenteGrande blanco">Entrar</p>
				</a>
			
			</div>
			<div class="linksMenu"> 
			
				<a href="NuevoUsuario.html" class="menu">
					<p class="fuentePropia negrita fuenteGrande blanco">Nuevo usuario</p>
				</a>
			
			</div>
	
		</div>
	
	</div>
	
	<div class="cuerpoBox">
	
		<div>
			<p class="fuentePropia negrita fuenteGrande">Entrar</p>
		</div>
		
		<div class="registroBox">
		
			<form action="conectar" method="post" class="registroPost">
		
			<div class="formLineBox anchoTotal">
				
				<div class="formTextBox"><p  class="fuenteMedia blanco">Email</p></div>
			
				<div class="formInputTextBox"><input class="anchoTotal altoTotal fuenteMedia" name="email" type="email"></div>
						
			</div>
			
			<div class="formLineBox anchoTotal">
			
				<div class="formTextBox"><p class="fuenteMedia blanco">Contraseña</p></div>
			
				<div class="formInputTextBox"><input class="anchoTotal altoTotal fuenteMedia" name="pass" type="password"></div>
				
			</div>
			
			<div>
			
				<input class="boton fuentePropia negrita fuenteGrande blanco" type="submit"  value="Conectar"/>
				
			</div>
			
			</form>
			
		</div>
		
		<% if(errorMsg !== null) {%>
		<div class="error">
			<%= errorMsg %>
		</div>
		<% } %>
	
	</div>
	
</div>

</body>
</html>
