@charset "UTF-8";
/* CSS Document */
body{
	
	margin-left: 0px;
	margin-right: 0px;
	background-color:aliceblue;
}

h1 {
	text-outline: 2px 2px solid black;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	background-color: antiquewhite;
	color:#1A6CC7;
	text-align: center;
}

h2{
	font-size: 20;
	text-decoration: underline;
	margin-left: 40px ;
	color: cornflowerblue;

}

p{
	font-size: 19;
	text-indent: 15px;
	margin-left: 20px;
	margin-right: 20px; 
	
}

li{
	
	margin-left: 20px;
	margin-right: 20px;
}

.fechas {
	width: 500px;
	border: hidden;
	margin-left: 20px;
	margin-right: 20px;

}

.comite {
	width: 516px;
	height: 468px;
	border: hidden;
	border-collapse: collapse;
	margin-left: 20px;
	margin-right: 20px;

}

.programa {
	width: 535px;
	border: 2px solid black;
	border-collapse: collapse;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;

}

td, th{
	
	border: 1px solid black;
	border-collapse: collapse;
}

.sesion{background-color:aquamarine;}
.coffe{background-color:beige;}
.comida{background-color:bisque;}
.charla{background-color:lightgreen;}
.asamblea{background-color:limegreen;}
.clausura{background-color:burlywood;}
.visita{background-color:peachpuff;}