@charset "UTF-8";
/* CSS Document */



.pag{
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
}

.userImg {

	visibility:hidden;
}
.email {

	visibility:hidden;
}

.desconectar {

	visibility:hidden;
}

.tareasBox {
	
	position:absolute;
	margin-top:70px;
	display: flex;
	flex-direction: column;
	text-align:start;
}



.tarea1Box {

	display: flex;
	flex-direction: row;
	
}

.tarea2Box {
	
	text-decoration:line-through;
	color:#999;
	display: flex;
	flex-direction: row;
	
}

.marcaFinBox{

	visibility:hidden;
}

.text-TagBox{
	
	display: flex;
	flex-direction: row;
	align-items: center;
}

.tag {

	margin-left: 5px;
	margin-right: 5px;
	color:#CCC;
	
}



.marcaFin {
	
	visibility:hidden;
}

.eliminarFin {
	
	visibility:hidden;
}

.añadirTarea {
	

	visibility:hidden;
	
}

.textAñadir {
	

	visibility:hidden;
}

.añadirTar {
	
	visibility:hidden;
}

.li2 {

	color:#000;
	
}

.textoGris {

	color:#999;
	
}