/* Ruben Barrado y Jaime Tamames*/

@charset "UTF-8";
/* CSS Document */

.pag{
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
}

.tareasBox {
	
	display: flex;
	flex-direction: column;
	align-items:flex-start;

}

.tarea1Box {

	display: flex;
	flex-direction: row;
	
}

.tarea2Box {
	
	text-decoration:line-through;
	color:gray;
	display: flex;
	flex-direction: row;
	
}

.text-TagBox{
	
	display: flex;
	flex-direction: row;

}

.tag {
	
	margin-left: 5px;
	margin-right: 5px;
	color: gray;
	
}

.userImgBox{
	
	visibility: hidden;
	width: 0px;
	height: 0px;
}

.emailDescBox{
	
	visibility: hidden;
	width: 0px;
	height: 0px;
}

.añadirTarea{
	
	visibility: hidden;
	width: 0px;
	height: 0px;
}

.eliminarFin{
	
	visibility: hidden;
	width: 0px;
	height: 0px;
}

.marcaFinBox{
	
	visibility: hidden;
	width: 0px;
	height: 0px;
}