@charset "UTF-8";
/* CSS Document */

body{
	
	background-image: url(RecursosGraficosP1/img/Fondo.jpg);
}

.pag{
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cabeceraBox{
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logoBox{

	display: flex;
	flex-direction: column;
	align-items: center;
}

.logoImg{
	
	width: 70%;
	height: 20%;
}

.perfilImg {
	
	width: 100%;
	height:100%;
	
}

.perfilImgBox {
	
	width:15%;
	height:15%;
	display: inline;
	border: solid 2px;
	
}

.perfilImgfriendBox {
	
	width:10%;
	display: inline;
	border: solid 2px;
	
}

.nombreFriendBox {
	
	margin-left: 10px;
	
}

.perfilImgMenuBox {
	
	width:5%;
	height:5%;
	
}

.puntosUserBox {
	
	display:flex;
	flex-direction:row;
	padding-left:200px;
	align-items:center;
	
}

.linksBox{
	
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 20%;
	height: 60px;
}

.menu{
	
	text-decoration: none;
}

.linksMenu{
	
	text-decoration: none;
	margin-left: 5%;
	
}

.linksMenu:hover{
	
	text-shadow: 0 5px black;
}

.linksMenu:active {

  transform: translateY(3px);
}

.registroBox{
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	background-color: #6C3698;
	border-radius: 25px;
	width: 800px;
	height: 240px;
}



.newUserBox {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	background-color: #6C3698;
	border-radius: 25px;
	width: 800px;
	height: 400px;
}

.perfilBox {
	
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left:300px;
	
}

.datosPerfil {
	
	display: flex;
	flex-direction: column;
	margin-left: 40px;
	justify-content: flex-start;
	align-items: flex-start;
	
}

.datosPerfilSecundariosBox {

	padding-top:20px;
	
}

.datoSecundario {
	
	padding-bottom:5px;
	
}

.botonModificarPerfilBox {
	
	padding-top:20px;
	
}

.registroPost{
	
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 80%;
	height: 80%;
}

.formLineBox{
	
	display: flex;
	flex-direction: row;
	align-items: center;
	
}

.botonesSolicitudesBox {
	
	display: flex;
	flex-direction: row;
	align-items: center;
	
}

.solicitudesAmistadBox {
	
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 50%;
	justify-content: space-between;
	
}

.AmigosBox {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	justify-content: space-between;
	
}

.PanelBusquedabox {
	
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 50%;
	justify-content: space-between;
	
}

.friendsBox {
	
	display: flex;
	flex-direction: row;
	align-items: center;
		
}

.formTextBox{
	
	flex-grow: 1;
	
}

.formInputbusquedaBox {
	
	width: 60%;
	
}

.formInputTextBox{
	
	flex-grow: 0;
	width: 80%;
}

.formInputTextBox2{
	
	display:flex;
	flex-grow: 0;
	width: 70%;
	flex-direction:row;
	align-items:center;
}

.espacioIzq {
	
	margin-left:6px;	
	
}

.espacioDer {
	
	margin-right:10px;	
	
}

.espacioArriba {
	
	margin-top:10px;	
	
}

.boton{
	
	background-color:#BB67FE;
	border-radius: 25px;
	cursor: pointer;
	
}

.boton:hover{
	
	
	text-shadow: 0 5px black;
}

.boton:active {

  transform: translateY(3px);
}

.fuentePropia{
	
	font-family: "Gloria Hallelujah";
}

.fuenteGrande{
	
	font-size: 25px;
}

.fuenteMedia{
	
	font-size: 20px;
}

.fuentePequeña {
	
	font-size: 15px;
}

.negrita{
	
	font-weight: bold;
}

.blanco{
	
	color: white;
}

.anchoTotal{
	
	width: 100%;
}

.altoTotal{
	
	height: 100%;
}

.cuerpoBox{
	
	display: flex;
	flex-direction: column;
	align-items: center;
}